
.generalC{
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 15px;
    font-family: SansRoboto Mono;
    text-align: center;
       
}
.calculator {

    width: 300px;
    border: 1px solid hsl(140, 2%, 36%);
    border-radius: 3px;
    font-size: 2rem;
    flex-direction: column;

}
.calculator-disp {
    padding:  25px 15px;
    width: 90%;
    text-align: right;
   
    
}
.calculator-pressure {
    display: flex;
    width: 100%;
    
}
.pressure-numbers {
   display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}
.pressure {
    width: 25%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    background-color: hsl(180, 100%, 97%);
    border: none;    
    font-size: 2rem;
    font-family: Roboto Mono;
    
}
.pressure:hover{
    filter: brightness(50%);
    transition: filter .5s;
}
.pressure.tone {
    background-color: hsl(283, 51%, 69%);
    font-family: Roboto Mono;
    
}
.pressure.tone2 {
    background-color: hsl(227, 14%, 73%);
    width: 50%;
    font-family: Roboto Mono;
    
}
